.addToCartBtn {
    display: flex;
    background-color: black !important;
    color: white !important;
    border-color: white !important ;
    margin-left: 34.2% !important;
    margin-right: 34.2% !important;
}

#qtyBtn {
    color: black !important;
}

.addToCartBtn:hover {
    background-color: #BC4639 !important;
}

@media screen and (max-width: 775px){
    .addToCartBtn {
        margin-left: 37.6% !important;
    }
}