.edit-product {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 100%;
    background-color: #dadada;
    overflow: scroll;
}


#edit-product-form {
    margin-bottom: 15%;
    margin-left: 0.5%;
    height: 36rem;
    width: 25rem;
    background-color: white;
}

#return-to-admin-page {
    margin-top: 1%;
    border: none;
    background-color: #dadada;
    color: #BC4639;
    text-decoration: underline;
    white-space: nowrap;
}


#edit-product-button {
    border: none;
    margin-top: 5%;
    margin-left: 0.15%;
    width: 22.5rem;
    background-color: #BC4639;
}

#edit-product-id {
    margin-top: -4%;
}

label {
    padding-top: 2%;
    padding-bottom: 0.5%;
}