.login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 100%;
    background-color: #dadada;
    overflow: scroll;
}


#login-form {
    margin-bottom: 15%;
    margin-left: 0.5%;
    height: 22rem;
    width: 20rem;
    background-color: white;
}

.form-group {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}

#login-page-button {
    border: none;
    margin-top: 13%;
    margin-left: 0.1%;
    width: 18rem;
    background-color: #BC4639;
}

.login-h1 {
    font-size: 20pt;
    margin-top: 3%;
    margin-bottom: 5%;
    border-bottom: 1pt solid #BC4639;
}

#login-form-id > .btn:hover {
    background-color: #dadada;
}

.sign-up-message {
    margin-top: 10% !important;
    margin-left: 4%;
}

.swal-button {
    background-color: #BC4639;
}

.swal-button:hover {
    background-color: #dadada !important;
    color: black;
}

#account-page {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #dadada;
    height: 93vh;
    width: 100%;
    padding-bottom: 10%;
}

#account-page-p {
    align-self: center;
    padding-bottom: 0.5%;

}

#sign-out-button {
    border: none;
    background-color: #dadada;
    color: #BC4639;
    text-decoration: underline;
    white-space: nowrap;
    margin-top:0.8%;
}

#admin-button {
    border: none;
    background-color: #dadada;
    color: #BC4639;
    text-decoration: underline;
    white-space: nowrap;
    margin-top:0.8%;
}

#profile-card {
    background-color: white;
    height: auto;
    width: 20rem;
    align-self: center;
}

.card-text {
    border-bottom: 1pt solid;
}

.card-text:hover {
    cursor: pointer;
    color: #BC4639;
}

#sign-out-button:hover {
    color: white;
}

@media screen and (max-height: 480px){
    #account-page-p{
        padding-top: 15rem;
    }
    #sign-out-button{
        padding-bottom: 5rem;
    }
}