.navbar-brand {
    color: #BC4639;
    margin-left: 5.5%;
    flex-grow: 3;
}


@media screen and (max-width: 992px) {
    .nav-link{
        margin-left: 1%
    }
}

@media screen and (min-width: 991px) {
    #home-link {
        position: absolute;
        padding-right: 0.4%;
        right: 54%;
        bottom: 10%;
    }
    
    #shop-link {
        position: absolute;
        padding-left: 1%;
        right: 50.3%;
        bottom: 10%;
    }

    #blog-link {
        position: absolute;
        padding-left: 1%;
        right: 46.3%;
        bottom: 10%;
    }

    
    #about-link {
        position: absolute;
        padding-left: 1%;
        right: 41.3%;
        bottom: 10%;
    }

    #profile-link {
        position: absolute;
        color: #BC4639;
        right: 9%;
        bottom: 0.1%;
    }

    #cart-link {
        position: absolute;
        color: #BC4639;
        padding-left: 1%;
        right: 5%;
        bottom: 0.1%;
    }
}

ul.navbar-nav a:hover { 
    color: #BC4639; 
}

ul.navbar-nav a:active { 
    color: #BC4639 !important; 
}
