.cartMenu {
    float: left;
    overflow: hidden;
    position: absolute;
    top: 6vh;
    right: 4vw; 
    z-index: 1;
    background-color: white;
    width: 18rem;
    padding: 1rem;
}

.no-items-message {
    margin-left: 9%;
}