.single-product-body {
    height: 93vh;
    background-color: #dadada;
}

.single-product-image {
    position: absolute;
    top: 13.6%;
    left: 10%;
    width: 40rem;
    height: 35rem;
}

#single-product-page-card {
    position: absolute;
    width:25%;
    right: 10%;
    top: 13.7%;
}

.single-product-title {
    font-size: 20pt;
}

.single-product-price {
    font-size: 16pt;
}

.accordion {
    margin-top: 37%;
    padding-top: 1rem;
}

.accordion-item {
    border: none;
}

.accordion-button {
    background-color: #dadada;
    border-bottom: 1pt solid black;
    border-left: 2.5pt solid #dadada;
    border-right: 2.5pt solid #dadada;
}

.accordion-body {
    background-color: #dadada;;
}

#add-to-cart-button {
    background-color: black;
    border: none;
    width: 18rem;
    margin-left: 55%;
    align-self: center;
}

#add-to-cart-button:hover {
    background-color: #BC4639;
}

#select-size-form {
    background-color: #dadada;
    border: 0.5pt solid black;
}