.single-product-body {
    height: 100vh;
    background-color: #dadada;
    display: flex;
    overflow: scroll;    
}

.single-product-image {
    margin-top: 3%;
    margin-left: 7%;
    width: 50%;
    height: 70%;
}

#single-product-page-card {
    display: flex;
    margin-left: 10%;
    width: 25%;
    margin-top: 5%;
    padding-bottom: 37rem;
}

.single-product-title {
    font-size: 20pt;
}

.single-product-price {
    font-size: 16pt;
}

.accordion {
    margin-top: 10%;
    padding-top: 1rem;
}

.accordion-item {
    border: none;
}

.accordion-button {
    background-color: #dadada;
    border-bottom: 1pt solid black;
    border-left: 2.5pt solid #dadada;
    border-right: 2.5pt solid #dadada;
}

.accordion-body {
    background-color: #dadada;;
}



#select-size-form {
    background-color: #dadada;
    border: 0.5pt solid black;
    margin-bottom: 5%;
}

.edit-and-delete-link {
    text-decoration: none;
    color: grey;
    margin-right: 3%;
}

.edit-and-delete-link:hover {
    color: #BC4639;
    cursor: pointer;
}

@media screen and (max-width: 775px){
    .single-product-body {
        flex-direction: column;
    }
    .single-product-image {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #single-product-page-card {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}